body{
    background-color: #97ED8A;
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'espaco-none espaco-none espaco-none espaco-none'
                         'header header header header'
                         'section section section section'
                         'footer footer footer footer';
    grid-template-columns: 25.4vw 24vw 24vw 25.3vw;
    grid-template-rows: 8vh 7vh 90vh 7vh 15vh;
}

header, section, footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav{
    grid-area: nav;
    background-color: #00261C;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img{
    height: 50px;
    margin-right: 5px;
}

nav p{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20pt;
    color: #05F29B; 
}

nav a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    color: #05F29B; 
}

nav a:hover{
    color: #ffffff;
}

.espaco-none{
    grid-area: espaco-none;
    background-color: #97ED8A;
}

header{
    grid-area: header;
    background-color: #45BF55;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: #ffffff;
    font-family: 'Days One', sans-serif;
    font-size: 25pt;
    margin: 2px 10px;
}

header .botao-cads button{
    background-color: #00261C;
    border-radius: 5px;
    border-color: #00261C;
    color: #45BF55;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    cursor: pointer;
    width: 145px;
    padding: 5px 8px;
    margin: 5px 0;
}

header .botao-cads button a{
    color: #45BF55;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
text-decoration: none;
}

header .botao-cads button:hover{
    background-color: #168039;
    border-color: #168039;
    color: #ffffff;
}

header .dev form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    color: #00261C;
}

header .dev form input{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-color: #ffffff;
    height: 4vh;
    width: 300px;
    border-radius: 5px;
}

header .dev form select{
    background-color: #ffffff;
    border-color: #ffffff;
    height: 4vh;
    width: 300px;
    border-radius: 5px;
}

header .dev form .posicao-button{
    display: flex;
    justify-content: flex-end;
}

header .dev form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00261C;
    border-radius: 5px;
    border-color: #00261C;
    color: #45BF55;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    margin-top: 15px;
    height: 5.5vh;
    width: 8vw;
    
}

header .dev form button:hover{
    background-color: #168039;
    border-color: #168039;
    color: #ffffff;
}

header .empresa form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    color: #00261C;
}

header .empresa form input{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-color: #ffffff;
    height: 4vh;
    width: 300px;
    border-radius: 5px;
}

header .empresa form select{
    background-color: #ffffff;
    border-color: #ffffff;
    height: 4vh;
    width: 300px;
    border-radius: 5px;
}

header .empresa form .posicao-button{
    display: flex;
    justify-content: flex-end;
}

header .empresa form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00261C;
    border-radius: 5px;
    border-color: #00261C;
    color: #45BF55;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    margin-top: 15px;
    height: 5.5vh;
    width: 8vw;
    
}

header .empresa form button:hover{
    background-color: #168039;
    border-color: #168039;
    color: #ffffff;
}

header .empresa form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    color: #00261C;
}

header .empresa form input{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-color: #ffffff;
    height: 4vh;
    width: 300px;
    border-radius: 5px;
}

header .empresa form select{
    background-color: #ffffff;
    border-color: #ffffff;
    height: 4vh;
    width: 300px;
    border-radius: 5px;
}

header .empresa form .posicao-button{
    display: flex;
    justify-content: flex-end;
}

header .empresa form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00261C;
    border-radius: 5px;
    border-color: #00261C;
    color: #45BF55;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    margin-top: 15px;
    height: 5.5vh;
    width: 8vw;
    
}

header .empresa form button:hover{
    background-color: #168039;
    border-color: #168039;
    color: #ffffff;
}


section{
    grid-area: section;
    background-color: #97ED8A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

section span{
    background-color: #168039;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
}

section span a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
    color: #05F29B; 
}

section span:hover{
    background-color: #00261C;
    color: #ffffff;
}

footer{
    grid-area: footer;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    background-color: #00261C;
    display: flex;
    align-items: center;

}

footer .redes-sociais{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

footer .redes-sociais a img{
    margin: 0 5px;
}

footer a{
    text-decoration: none;
    color: #05F29B;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 15px;
}

footer a:hover{
    color: #ffffff;
}

footer p{
    font-size: 8pt;
    margin-top: 15px;
    color: #ffffff;
}

@media(max-width: 768px){
    body{
        grid-template-areas: 'nav nav'
                             'nav nav'
                             'header header'
                             'header header'
                             'section section'
                             'footer footer'
                             'footer footer';
        grid-template-rows:  2vh 10vh 27vh 5vh 5vh;                     
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav img{
        display: none;
    }

    header h1{
        display: block;
        justify-content: center;
        font-size: 12pt;
    }

    header .botao-cads button{
        border-radius: 5px;
        font-size: 10pt;
        width: 110px;
        padding: 2px 6px;
    }
    
    header .dev form{
        font-size: 8pt;
    }
    
    header .dev form input{
        height: 1.5vh;
        width: 200px;
        border-radius: 5px;
    }

    header .dev form select{
        height: 1.5vh;
        width: 200px;
        border-radius: 5px;
    }
    
    header .dev form .posicao-button{
        display: flex;
        justify-content: flex-end;
    }
    
    header .dev form button{
        border-radius: 5px;
        font-size: 10pt;
        margin-top: 15px;
        height: 2vh;
        width: 13vw;
        
    }

    section{
        display: flex;
        flex-direction: row;
    }

    section span{
        background-color: #168039;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2vh;
        margin: 0 10px;
        border-radius: 3px;
        padding: 5px 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer div a{
        margin-bottom: 5px;
    }
}

@media(max-width: 468px){
    body{
        grid-template-areas: 'nav nav'
                             'nav nav'
                             'header header'
                             'section section'
                             'footer footer';
        grid-template-rows:  2vh 10vh 35vh 2vh 5vh;                     
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav img{
        display: none;
    }

    header h1{
        display: block;
        justify-content: center;
        font-size: 12pt;
    }

    header .botao-cads button{
        border-radius: 5px;
        font-size: 10pt;
        width: 100px;
        padding: 2px 6px;
    }
    
    header .dev form{
        font-size: 8pt;
    }
    
    header .dev form input{
        height: 1.5vh;
        width: 200px;
        border-radius: 5px;
    }
    
    header .dev form select{
        height: 1.5vh;
        width: 200px;
        border-radius: 5px;
    }

     header .dev form .posicao-button{
        display: flex;
        justify-content: flex-end;
    }
    
    header .dev form button{
        border-radius: 5px;
        font-size: 10pt;
        margin-top: 15px;
        height: 2vh;
        width: 18vw;
        
    }

    section{
        display: flex;
        flex-direction: row;
    }

    section span{
        background-color: #168039;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2vh;
        margin: 0 10px;
        border-radius: 3px;
        padding: 5px 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .redes-sociais{
        display: none;
    }

    footer .texto-dev{
        display: flex;
        text-align: center;
        
    }
}

@media(max-width: 410px){
    body{
        grid-template-areas: 'nav nav'
                             'nav nav'
                             'header header'
                             'section section'
                             'footer footer';
        grid-template-rows:  2vh 10vh 35vh 2vh 5vh;                     
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav img{
        display: none;
    }

    header h1{
        display: block;
        justify-content: center;
        font-size: 12pt;
    }

    header .botao-cads button{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        font-size: 9pt;
        width: 100px;
        padding: 2px 6px;
        margin: 5px 0;
    }
    
    header .dev form{
        font-size: 8pt;
    }
    
    header .dev form input{
        height: 1.5vh;
        width: 160px;
        border-radius: 5px;
    }

    header .dev form select{
        height: 1.5vh;
        width: 160px;
        border-radius: 5px;
    }
    
    header .dev form .posicao-button{
        display: flex;
        justify-content: center;
    }
    
    header .dev form button{
        border-radius: 5px;
        font-size: 9pt;
        margin-top: 15px;
        height: 2vh;
        width: 18vw;
        
    }

    section{
        display: flex;
        flex-direction: row;
    }

    section span{
        background-color: #168039;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2vh;
        margin: 0 10px;
        border-radius: 3px;
        padding: 5px 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .redes-sociais{
        display: none;
    }

    footer .texto-dev{
        display: flex;
        text-align: center;
        
    }
}

