<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="cadastrarideia.html">Cadastrar projeto</a>
        <a href="">Ver projetos</a>
        <a href="sobre.html">Sobre nós</a>
    </nav>
    <header>
        <h1>Cadastre seu projeto</h1>
    </header>
    <section>
        <form action="" method="post">
            <input type="hidden" name="instituicao" value="{{instituicao.nome_inst}}">
            <label for="nome">Título do Projeto</label>
            <input type="text" name="nome" id="">
            <label for="descricao">Descreva seu projeto</label>
            <textarea name="descricao" id="" cols="30" rows="15"></textarea>
        </form>
    </section>
</body>

</html>