<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="sobre.html">Sobre nós</a>
        <a href="login.html">Entrar</a>
        <a href="cadastro.html">Cadastre-se</a>
    </nav>
    <header>
        <h1>Projeto final Academia Mastertech</h1>
        <p>Quer ter sua instituição na internet? Precisa de algum serviço tecnologico?</p>
        <p>Tem conhecimentos em tecnologia, mas não consegue emprego? Precisa de experiência?</p>
        <p>Então aqui é seu lugar, seja voçê uma ONG, instituição de caridade, universitário, ou auto didata.</p>
        <p>Faça login para ver e postar prjetos!</p>
    </header>
    <section>
        <span class="botao"><a href="login.html">Entrar</a></span>
        <span class="botao"><a href="cadastro.html">Cadastre-se</a></span>
    </section>
    <footer>
        <a>Desenvolvido por João Lucas e Kevin Christian</a>
    </footer>
</body>

</html>