{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projetos</title>
</head>

<body>
    <nav>
        <a href="cadastrar_projeto">Cadastrar projeto</a>
        <a href="listar">Ver projetos</a>
        <a href="sobre">Sobre nós</a>
    </nav>
    <p>Bem vindo {{ msg }}</p>
    <h1>Listagem daos Projetos</h1>
    <p>
        {% for proj in projetos %}
        <p>{{proj.instituicao.nome_inst}}</p>
        <p>{{proj.nome_proj}}</p>
        <p>{{proj.descricao}}</p>
        <hr>
        {% endfor %}
    </p>
</body>

</html>