{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projetos</title>
</head>

<body>
    <nav>
    <div>
            <img src="{% static 'css/img/logo.png' %}" alt="Logo do site">
        </div>
    </nav>
    <h1>Projetos Abertos</h1>
    <p>
        {% for proj in projetos %}
        <p>{{proj.instituicao.nome_inst}}</p>
        <p>{{proj.nome_proj}}</p>
        <p>{{proj.descricao}}</p>
        <p>Telefone para Contato: {{proj.instituicao.telefone_inst}}</p>
        <hr>
        
        {% endfor %}
    </p>
    <footer>
        <div class="redes-sociais">
            <a href="#"><img src="{% static 'css/img/icon1.png' %}" alt="Logo do facebook"
                    style="height: 25px">facebook.com/devxp</a>
            <a href="#"><img src="{% static 'css/img/icon3.png' %}" alt="Logo do instagram"
                    style="height: 25px">instagram.com/devxp</a>
            <a href="#"><img src="{% static 'css/img/icon2.png' %}" alt="Logo do youtube"
                    style="height: 25px">youtube.com/devxp</a>
        </div>
        <p class="texto-dev">Desenvolvido por João Lucas e Kevin Christian</p>
    </footer>
</body>

</html>