<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre</title>
</head>

<body>
    <header>
        <h1>Sobre</h1>
        <p>Somos uma start-up que têm como objetivo aproximar aqueles que têm necessidades dos que têm soluções.</p>
        <p>Notamos que muitas ONGS e instituiçoes de caridade ainda não possuem seu espaço na internet, muitas vezes
            por falta de recursos.
        </p>
        <p>Também vimos que muitos estudantes de tecnologia, enfrentam uma grande dificuldade na hora de irem
            para o mercado de trabalho, a falta de experiência.
        </p>
        <p>Nossa idéia é solucionar estes dois problemas por dar as empresas a oportunidade de verem seus projetos
            se tornarem realidade, e aos estudantes a de conseguir proejetos reais para que consigam experiência,
            certificados de trabalho voluntário e portifóilo.
        </p>
        <p>Não perca esta chance, venha experimentar nossa plataforma.</p>
        <p>É grátis! Nós acreditamos que a tecnologia trnaforma vidas, venha transformar a sua!</p>
    </header>
</body>

</html>